@page "/supercourses"
@inject ISuperCourseService SuperCourseService
@inject NavigationManager NavigationManager

<PageTitle>Courses</PageTitle>

<h3>SuperCourses</h3>

<table class = "table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var course in SuperCourseService.Courses)
       {
           <tr>
               <th>@course.Name</th>
               <th>@course.Category.Name</th>
          
           <td>
               <button class = "btn-link btn-primary" @onclick="(()=>ShowCourse(course.Id))"><i class = "oi oi-pencil"></i></button>
           </td>

            </tr>
       }
    </tbody>
</table>

<button class="btn-link btn-primary" @onclick="CreateNewCourse">Create new course</button>

@code {
    protected override async Task OnInitializedAsync()
    {
        await SuperCourseService.GetSuperCourses();
    }

    void ShowCourse(int id)
    {
        NavigationManager.NavigateTo($"course/{id}");
    }

    void CreateNewCourse()
    {
        NavigationManager.NavigateTo("/course");
    }

}
